node_modules
.env
JSON/
JSON-try/
CSV/
CSV-try/
test_struct.json
# hotline-all-categories-report.json
# hotline-mobilnye-telefony-i-smartfony.json
# hotline-noutbuki-netbuki.json
# hotline-products.json